.manifest-title{
    background-color: #0f3e68;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    margin-top: 0px;
}
.manifest-red{
    color:darkred;
    margin-bottom: 10px;
}
.manifest-blue{
     color: #0f3e68;
     font-weight: bold;
     margin-bottom: 10px;
}
.manifest-table-title-blue{
    color: #0f3e68;
    font-weight: bold;
}
.manifest-table-blue{
    color:  slateblue;
}
.manifest-button-detail{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card{
    padding: 10px;
}
.collapse{
    padding-left: 10px;
    padding-right: 10px;
}