/*========
Hero
========================================================================== */

.main_header{
	margin-top: 50px;
	color: darkred;
}

.main_header h1{
	font-size: 400%;
}
.main_header p{
	font-size: 200%;
	color: maroon;
}


.margin{
	margin-top: 40px;
}

.text-slogan{
	color: darkred;
}

#bg {
	position:fixed;
	top:-50%;
	left:-50%;
	width:200%;
	height:200%;
}
#bg img {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
	opacity: 0.5;
}

.container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap:  nowrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow: auto;

}

.row{
	text-align: center;
}

.row>h1 {
	font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
	font-size: 600%; /* Размер шрифта в процентах */
	color: black;
}

.row>h1>span {
	color: red;
}
.row>p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	color: #7c1212;
}

.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	color: red;
}

a{
	color: blue;
	border: 2px solid #7c1212;
	border-radius: 40px 10px;
	padding: 10px;
	font-size: 50px;

}

a:hover{
	color: crimson;
	border-bottom: none;
	text-decoration: none;
}